@import 'fonts';
@import 'header';
@import 'section';
@import 'footer';

*{
    margin: 0;
    padding: 0;
}

html,
body
{
    font-family: 'Poppins';
    background: linear-gradient(to right bottom, #2c2a31,#3e406e);
    // overflow: hidden;
}

#app > div {
    height: 200vh;
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.webgl {
    position: fixed;
    top: 0;
    right: -15%;
    outline: none;
    z-index: 1;
}

.container {
    position: absolute;
    width: 94%;
    
}

h1, h2, h3, p {
    font-family: 'Inter';
    font-style: normal;
}

h1 {
    opacity: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 77px;
    color: #FFFFFF;
    transform: translateY(-100%);
}

hr {
    height: 28px;
    width: 2px;
    border: 0;
    background: #FFFFFF;
    margin: auto 10px;
}

button {
    width: 286px;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 22px;
    background: #D50D1F;
    color: #FFFFFF;
    cursor: pointer;
}

.btn {
    text-align: center;
    transform: translateY(50%);
    z-index: 1002;

    &__stroke {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #FFFFFF;
        border-radius: 5px;
        border: 3px solid #D50D1F;
        background: #D50D1F;
    }
    
    &__flooded {
        background: transparent;
        border-radius: 5px;
        color: #FFFFFF;
        border: 3px solid #FFFFFF;
    }

    &__stroke:hover {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #FFFFFF;
        border-radius: 5px;
        border: 3px solid #D50D1F;
        background: transparent;

        svg {
            color: #D50D1F;
        }
    }
    
    &__flooded:hover {
        background: #D50D1F;
        border-radius: 5px;
        color: #FFFFFF;
        border: 3px solid #D50D1F;
    }
}

@media (max-width: 1880px) {
    body {
        overflow: auto;
    }
    .webgl {
        right: 0;
    }
}

@media (max-width: 1024px) {
    body {
        overflow: auto;
    }

    .webgl {
        right: 0;
        z-index: 0;
    }

    .btn {
        margin-bottom: 10px;
    }

    .btn:last-child {
        margin-bottom: 0;
    }
}